<div class="google-login-container">
  <img src="assets/imgs/google-icon2.png" alt="Google Icon" class="google-icon" />

  <h1>Escoge una cuenta</h1>
  <p class="subtexto">para continuar con la cuenta <strong>Samsung</strong></p>

  <div class="cuenta"routerLink="/home">
    <div class="icono-circulo rojo">T</div>
    <div class="datos-cuenta" >
      <strong>Teodoro man</strong>
      <br>
      <span>jajas4&#64;gmail.com</span>
    </div>
  </div>

  <div class="cuenta"routerLink="/home">
    <div class="icono-circulo gris">P</div>
    <div class="datos-cuenta">
      <strong>Penelope García</strong>
      <br>
      <span>Woulyouloveme77&#64;gmail.com</span>
    </div>
  </div>

  <div class="cuenta añadir">
    <div class="icono-circulo azul">+</div>
    <span>Añadir otra cuenta</span>
  </div>

  <button class="btn-cancelar" routerLink="/inicio1">Cancelar</button>

  <p class="texto-legal">
    Para continuar, Google compartirá tu nombre, dirección de correo y foto de perfil con la cuenta de Samsung.
    Antes de usar la app, revisa las
    <a href="#">políticas de privacidad</a> y los
    <a href="#">términos de servicio</a>.
  </p>
</div>

