.filtro{
    border-radius: 15px;
    color: grey;
    color: black;
    background-color: #f0f0f0;
}

ion-item {
  --border-color: transparent !important;
  --inner-border-width: 0 !important;
  --padding-start: 0;
  --padding-end: 0;
}