// .cabezera{
//     width: 375px;
//     height: 60px;
// }

// .titulo{
//     font-size: 24px;
// }

.boton{
    margin-left: 25px;
    width: 42px;
    height: 42px;
    background-color: #6cd9b0;
    border-radius: 10px;
}