<ion-content class="ion-padding">
  <ion-toolbar style="position: fixed; z-index: 1; width: 80px;">
    <ion-buttons slot="start">
      <ion-back-button class="boton" defaultHref="/home" style="color: white;">
        <ion-icon class="icono" name="arrow-white"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>


  <div class="image-container" style="z-index: 9999;">
    <img src="assets/imgs/gatoApadrinado.png" alt="Gato apadrinado">
  </div>


  <div class="text-content ion-text-center">
    <h2><strong>¡Gracias por tu generosa donación!</strong></h2>
    <p class="secondary-text">
      Hemos recibido tu aporte y estamos procesando tu pago. Muy pronto, un miembro del albergue se pondrá en contacto
      contigo para agradecerte personalmente y mantenerte informado sobre cómo tu donación está ayudando a nuestros
      perritos.
    </p>
  </div>

</ion-content>
