.filtro{
    border-radius: 15px;
    color: grey;
    color: black;
    background-color: #f0f0f0;
}

.boton{
    height: 21px;
    width: 119px;
    margin-left:220px ;
    text-align: center;
    border-radius: 15px;
    color: black;
    background: #90fed4;
}

ion-item {
  --border-color: transparent !important;
  --inner-border-width: 0 !important;
  --padding-start: 0;
  --padding-end: 0;
}
