<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reportar</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header>
  <ion-title class="titulo">Reportar mascota</ion-title>
</app-header>

<ion-content>
  <ion-title class="titulo">Agregar datos</ion-title>
  <ion-input class="barra" label="Nombre de la mascota" label-placement="floating" fill="outline" placeholder=""></ion-input>
  <ion-input class="barra" label="Raza o descripcion" label-placement="floating" fill="outline" placeholder=""></ion-input>
  <ion-input class="barra" label="Fecha y hora de desaparicion" label-placement="floating" fill="outline" placeholder=""></ion-input>
  <ion-input class="barra" label="Contacto del dueno" label-placement="floating" fill="outline" placeholder=""></ion-input>
  <ion-input class="barra" label="Recompensa" label-placement="floating" fill="outline" placeholder=""></ion-input>
  <ion-input class="barra" label="Foto" label-placement="floating" fill="outline" placeholder="Subir foto">
    <ion-icon color="primary" class="icono" slot="end" name="arrow-up-circle-sharp"></ion-icon>
  </ion-input>

  <button slot="end" [routerLink]="['/reportar2']">Siguiente</button>
</ion-content>

<app-toolbar></app-toolbar>
