<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reportar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-searchbar placeholder="Nombre de la mascota"></ion-searchbar>
<ion-searchbar placeholder="Raza o descripcion"></ion-searchbar>
<ion-searchbar placeholder="Fecha y hora de desaparicion"></ion-searchbar>
<ion-searchbar placeholder="Contacto del dueno"></ion-searchbar>
<ion-searchbar placeholder="Recompensa"></ion-searchbar>
<ion-searchbar placeholder="Subir Foto"><ion-icon slot="end" name="arrow-up-circle-sharp"></ion-icon></ion-searchbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reportar</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<app-toolbar></app-toolbar>
