.boton{
    height: 35px;
    width: 140px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    color: black;
    background: #90fed4;
}

.icono{
    height: 30px;
    width: 30px;
}

.titulo{
    margin: 20px 0 0 0;
}

.barra{
    margin: 15px 0 10px 0;
    color:gray;
}