<ion-content class="ion-padding">
  <ion-toolbar style="position: fixed; z-index: 1; width: 80px;">
      <ion-buttons slot="start">
        <ion-back-button class="boton" routerLink="/apadrinar3" style="color: white;">
          <ion-icon class="icono" name="arrow-white"></ion-icon>
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  
    <div class="image-container" style="z-index: 9999;">
      <img src="assets/imgs/gatoApadrinado.png" alt="Gato apadrinado">
    </div>
  
  
    <div class="text-content ion-text-center">
      <h2><strong>¡Gracias por apadrinar!</strong></h2>
      <p class="secondary-text">
        Hemos recibido tu contribución y estamos emocionados de que hayas decidido formar parte de su historia. <br><br>
        Estás invitado a pasar tiempo con Alaska para conocerlo mejor y asegurarte de que se sienta querido y cuidado.
      </p>
    </div>
  
  </ion-content>
