<ion-header class="cabezera" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="boton" defaultHref="/donacion1" style="color: white;">
        <ion-icon class="icono" name="arrow-white"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Donación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="subtitulo">Elige un método de pago</p>

  <div class="opciones">
    <ion-item lines="none">
      <ion-checkbox labelPlacement="end" [checked]="opcionSeleccionada === 'unica'"
        (ionChange)="seleccionarOpcion('unica')">
        Pago por QR
      </ion-checkbox>
    </ion-item>
  </div>

  <ion-button class="btn-flotante" expand="block" color="terciary" [disabled]="!opcionSeleccionada"
    (click)="irASiguiente()">
    Siguiente
  </ion-button>
</ion-content>
<ion-footer>
  <app-toolbar>xd</app-toolbar>
</ion-footer>