<ion-header class="cabezera" [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button class="boton" defaultHref="/home" style="color: white;">
              <ion-icon class="icono" name="arrow-white"></ion-icon>
          </ion-back-button>
      </ion-buttons>
      <ion-title class="titulo">Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="padding: 10px; font-size: 10px; line-height: 3.0;">
       "imagen": "c:\Users\HP\Desktop\clonenuevo\croquetas",
      <br><br>
      COMIDA DOG CHOW® ADULTO RAZA PEQUEÑA (80bs)
      <br><br>
      Alimento balanceado completo para perros adultos de tamaño pequeño de actividad normal de 1 a 7 años de edad.
Ingredientes de calidad en un alimento 100% completo y balanceado.
        - Prebiótico natural, para equilibrar la flora intestinal.
        - Omegas 6 y 3.
        - Niveles de sodio adecuado.
      <br><br>
      Cantidad
  </p>
  <ion-button class="btn-flotante" expand="block" color="terciary" routerLink="/listaDeCompras">
      Agregar Carrito
  </ion-button>

</ion-content>

<ion-footer>

  <app-toolbar></app-toolbar>

</ion-footer>