<ion-header class="cabezera" [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button class="boton" defaultHref="/home" style="color: white;">
              <ion-icon class="icono" name="arrow-white"></ion-icon>
          </ion-back-button>
      </ion-buttons>
      <ion-title class="titulo">Apadrinamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="padding: 16px; font-size: 16px; line-height: 1.6;">
      Si no puedes adoptar, pero quieres hacer una diferencia en la vida de un perro en necesidad, nuestro programa de
      apadrinamiento es la opción perfecta para ti.
      <br><br>
      Con una contribución mensual de 250 BOB, estarás ayudando a brindarles a nuestros perritos cuidados médicos,
      alimentación y un hogar temporal hasta que encuentren a su familia definitiva.
      <br><br>
      Al apadrinar, no solo estarás ayudando a mejorar la vida de un perrito, sino que también formarás parte de su
      historia y proceso hacia una vida más feliz.
      <br><br>
      ¡Juntos podemos darle a estos peluditos la oportunidad que se merecen! 🐾
  </p>
  <ion-button class="btn-flotante" expand="block" color="terciary" routerLink="/apadrinar2">
      Siguiente
  </ion-button>

</ion-content>

<ion-footer>

  <app-toolbar></app-toolbar>

</ion-footer>
