.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 16px;
    font-family: "Fredoka One", sans-serif;
    background: white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono {
    font-size: 100px;
    display: block;
    color: var(--ion-color-primary);
    margin: 0 auto;
}

.titulo {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
}

.campana {
    position: absolute;
    right: 20px;
    font-size: 28px;
    color: var(--ion-color-medium);
    transition: color 0.3s ease;
    top: 100px;

}

.campana:hover {
    color: var(--ion-color-primary);
    cursor: pointer;
}


.card {
    width: 92%;
    max-width: 340px;
    margin: 20px auto;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    background: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 1.1rem;
    margin: 8px 0;
}

.card p {
    font-size: 0.95rem;
    color: #555;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.card p.collapsed {
    max-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}