<app-header></app-header>

<ion-content class="cabecera">
  <ion-icon class="icono" name="paw" color="primary"></ion-icon> 
  <ion-title>Noticias y eventos</ion-title>
</ion-content>
<ion-icon class="campana" name="notifications"></ion-icon>
<ion-content>
  <ion-searchbar></ion-searchbar>
</ion-content>



<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- 
<app-card-perros></app-card-perros> -->


<app-toolbar></app-toolbar>