<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>filtro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-title class="titulo">Tamano</ion-title>
    <ion-item>
      <ion-label>Grande</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mediano</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pequeno</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-title>Edad</ion-title>
    <ion-item>
      <ion-label>Cachorro</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Joven</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Adulto</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-title>Sexo</ion-title>
    <ion-item>
      <ion-label>Macho</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Hembra</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="full">
    Aplicar



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">filtro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>



