*{
    color: black;
}

.boton{
    margin-right: 20px;
    width: 140px;
    height: 45px;
    border-radius: 8px;
    background-color: #33cc99;
    font-size: 15px;
    color: white;
}

.nombre{
    font-family: "Fredoka One";
    font-size: 30px;
}