<ion-footer>
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="search">
          <ion-icon name="radio"></ion-icon>
          Perdidos
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/login']">
          <ion-icon name="radio"></ion-icon>
          Login
        </ion-tab-button>
        <ion-tab-button tab="library">
          <ion-icon name="library"></ion-icon>
          Albergues
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="search"></ion-icon>
          Inicio
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Tienda
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>




  




