.item-linea {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

.total-linea {
  font-size: 16px;
}

.boton-pagar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-pagar {
  width: 70%;
  --background: #88e2be;
  --background-hover: #7bd0ac;
  --color: white;
  --border-radius: 10px;
}


ion-checkbox {
    --size: 22px;
    --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
    border-radius: 50px;
    border: 2px solid #6815ec;
}

.boton {
    margin-left: 25px;
    width: 42px;
    height: 42px;
    background-color: #6cd9b0;
    border-radius: 10px;
}

.titulo {
    font-weight: bold;
}

.icono {
    color: var(--ion-color-light);
}

.subtitulo {
    padding: 16px;
    font-size: 20px;
    line-height: 1.6;
    color: #666;
}

.opciones {
    padding: 0 16px;
}

.linea-divisoria {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.btn-flotante {
    background-color: #6cd9b0;
    color: white;
    text-transform: capitalize;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 120px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.btn-flotante:hover {
    background-color: #3880ffcc;
}