*{
    font-size: 13px;
}

.boton{
    margin-top: 30px;
    text-align: center;
}

.subtitulo{
    font-size: 18px;
    font-family: "poppins";
}

.imagen{
    width: 301px;
    height: 207px;
    border-radius: 10px;
    margin-top: 10px;
}

.info{
    margin-bottom: 5px;
}

.info2{
    margin-bottom: 20px;
}

.icono{
    color: #90fed4;
}