<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>albergue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">albergue</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!-- <!DOCTYPE html>
<html lang="en">
<app-header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ion-title>ALBERGUES</ion-title>
    <link rel="stylesheet" href="styles.css">
</app-header>
<body>
    <ion-content [fullscreen]="true"></ion-content>
    <main>
      <ion-card class="card" onclick="verDetalles('Laika')">
        <img src="albergue-laika.jpg" alt="Albergue Laika">
        <card class="info">
          <h3>Albergue de Mascotas \"Laika\"</h3>
          <p>Refugio solo de perros</p>
        </card>
      </ion-card>
      <ion-card class="card" onclick="verDetalles('Peluchin')">
        <img src="albergue-peluchin.jpg" alt="Albergue Peluchin">
        <card class="info">
          <h3>Albergue de Mascotas \"Peluchín\"</h3>
          <p>Refugio solo de perros</p>
        </card>
      </ion-div>
      <ion-div class="card" onclick="verDetalles('Amigos')">
        <img src="albergue-amigos.jpg" alt="Albergue Amigos">
        <card class="info">
          <h3>Albergue de Mascotas \"Amigos\"</h3>
          <p>Refugio solo de perros</p>
        </div>
      </ion-div>
      <ion-toolbar>
    <a href="#" class="nav-item"><i class="fas fa-paw"></i> Perdidos</a>
    <a href="#" class="nav-item active"><i class="fas fa-home"></i> Albergues</a>
    <a href="#" class="nav-item"><i class="fas fa-house-user"></i> Inicio</a>
    <a href="#" class="nav-item"><i class="fas fa-shopping-cart"></i> Tienda</a>
    <a href="#" class="nav-item"><i class="fas fa-user"></i> Perfil</a>
      </ion-toolbar>
    </main>
</body>
</html> -->

