<ion-content class="ion-padding">
  <ion-toolbar style="position: fixed; z-index: 1; width: 80px;">
      <ion-buttons slot="start">
        <ion-back-button class="boton" routerLink="/apadrinar3" style="color: white;">
          <ion-icon class="icono" name="arrow-white"></ion-icon>
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  
  
    <div class="image-container" style="z-index: 9999;">
      <img src="assets/imgs/gatoApadrinado.png" alt="Gato apadrinado">
    </div>
  
  
    <div class="text-content ion-text-center">
      <h2><strong>¡Hemos recibido tu reporte de perrito desaparecido!</strong></h2>
      <p class="secondary-text">
        Lamentamos mucho que tu perrito esté perdido. Hemos registrado tu reporte en nuestra plataforma y lo compartiremos con nuestra comunidad para ayudarte a encontrarlo lo más pronto posible.
      </p>
    </div>
  
  </ion-content>
